<h1>My Trails</h1>
<table class="table table-hover table-bordered" >
<tr>
  <th>Path</th>
  <th>Trail Name</th>
  <th>Trail Description</th>
  <th>Share</th>
  <th>Actions</th>
</tr>
<% @trails.each do |trail| %>
<tr>
		<td><%= link_to trail.id, trail_path(trail) %></td>
		<td><%= trail.name %></td>
		<td><%= trail.description %></td>
		<td><%= mail_to "hello@bitca.mp", "Bitcamp Friends", subject: "example.com" +trail_path(trail).to_s %></td>
		<td>
			<%= link_to 'edit', edit_trail_path(trail), class: 'btn btn-info btn-small' %>
			<%= link_to 'Complete Path', trail_path(trail), class: 'btn btn-success btn-small', method: :delete, confirm: 'Congratulations! Click to confirm.' %>
		</td>
	<% end %>
</tr>
</table>
<%= link_to 'New Trail', new_trail_path, class: 'btn btn-warning btn-large' %>
