<h1>Trailhead</h1>
<p>Start a new trail.</p>
<%= form_for @trail, :url => user_trails_path do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.submit %>
<% end %>
