<body>
  <div id="content">
	<table id="trailmarkers" class="table table-hover table-bordered">
	<tr>
  	<td>
  	<div id="trailhead">
  <!-- Trailhead start -->
		<th>Name</th>
		<td><%= @trail.name %></td>
		<th>Description</th>
		<td><%= @trail.description %></td>
		<th>Started</th>
		<td><%= time_ago_in_words @trail.created_at %> ago on</td>,
		<td><%= @trail.created_at.strftime('%m/%d/%Y') %></td>
	</div>
	<!-- Trailhead end -->
  </td>
  <td>
      <!-- Trailmarker start -->

      <!-- Trailmarker end -->
      <% @trailmarkers = Trailmarker.order('name').all %>
      <% for trailmarker in @trailmarkers %>
        <div class="trailmarker">
        <td><%= trailmarker.name%></td>
        <td><%= trailmarker.description %></td>
        </div>
      <% end %>
  </td>
</table>
</body>
