<body class="trail">
<h1>Your trail to success</h1>
<ul>
<li style="display:block; float: left;">
<ul style ="list-style: none; background-color: #FFFFC2;  padding: 50px;">
	<h2>Trailhead</h2>
    <div><li style="color: #306754";>Trail<%= @trail.name %></li></div>
    <div><li style="color: #306754";><%= @trail.description %></li></div>
    <div><li style="color: #306754";>Started<%= time_ago_in_words @trail.created_at %> ago on <%= @trail.created_at.strftime('%m/%d/%Y') %></li></div>
</ul>
</li>
  <div id="content" style="display: block; float: left">
	<table id="trailmarkers" class="table table-hover table-bordered">
  <tr>
    <th>Trailmarker</th>
    <th>Description</th>
    <th>Trailmarker</th>
    <th>Description</th>
    <th>Trailmarker</th>
    <th>Description</th>
  </tr>
  <tr>
      <!-- Trailmarker start -->
      <% @trailmarkers = Trailmarker.order('name').all %>
      <% for trailmarker in @trailmarkers %>
        <div class="trailmarker">
        <td><%= trailmarker.name%></td>
        <td><%= trailmarker.description %></td>
       <!-- Trailmarker end -->
        </div>
      <% end %>
  </tr>
</table>

</body>


